<div class="new-wrapper">
  <div class="new-header"></div>
  <div class="new-habits-form">
    <div class="new-habit">
      <div class="new-title">
        <div class="errors">
          <%= render 'shared/error_messages', model: @learn, class: "error_messages" %>
        </div>
        <h1 class="new-form-title">投稿する</h1>
      </div>
      <%= render partial 'habti_form', locals: { learn: @learn } %>
    </div>
  </div>
</div>
<%= link_to image_tag("logo.png", class: "header-image", height: "80", width: "200", alt: "積みログ"), learn_path(@learn.id) %> 
<%= render 'shared/new_footer' %>