<div class="category-header">
  <div class="category-title">
    <h1>マインドフルネス瞑想</h1>
  </div>
  <div class="category-sub">
    <p>〜Let's meditation〜</p>
  </div>
  <div class="category-form">
    <%= render "shared/category_form" %>
  </div>
</div>
<%= render "shared/category_index" %>
