<%= link_to image_tag("logo.png", class: "header-image", height: "80", width: "200", alt: "積みログ"), root_path %> 

<% if user_signed_in? %>
  <%= link_to current_user.nickname, root_path %>
<% end %>

<div class="habits">
  <div class="habit">
    <div class="habit-text">
      今日の積み上げ
    </div>
    <div class="habit-image">
      <img src="https://wired.jp/app/uploads/2018/01/GettyImages-522585140.webp">
    </div>
    <div class="habit-user">
      投稿者：
    </div>
  </div>
  <div class="habit">
    <div class="habit-text">
      今日の積み上げ
    </div>
    <div class="habit-image">
      <img src="https://wired.jp/app/uploads/2018/01/GettyImages-522585140.webp">
    </div>
    <div class="habit-user">
      投稿者：
    </div>
  </div>
</div>