<%= link_to image_tag("logo.png", class: "header-image", height: "80", width: "200", alt: "積みログ"), root_path %> 

<% if user_signed_in? %>
  <div class="room-user">
    ようこそ、<br><%= link_to current_user.nickname, root_path, class: "room_user_name" %>さん
  </div>
<% end %>