<div class="new-footer">
  <div class="footer-lists">
    <ul class="new-footer-roles">
      <li class="new-policy"><a href="#">プライバシーポリシー</a></li>
      <li class="new-role"><a href="#">利用規約</a></li>
    </ul>
  </div>
  <%= link_to image_tag("logo.png", class: "footer-image", height: "80", width: "200", alt: "積みログ"), exercises_path %> 
</div>