<div class="category-header">
  <div class="category-title">
    <h1>ダイエット(体重管理)</h1>
  </div>
  <div class="category-sub">
    <p>〜Let's Daiet〜</p>
  </div>
  <div class="category-form">
    <%= render "shared/category_form" %>
  </div>
</div>
<%= render "shared/category_index" %>
