.new-wrapper {
  text-align: center;
}

.new-header {
  width: 100vw;
  height: 100px;
}

.new-habits-form {
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  margin: 0 auto;
  display: flex;
}

.new-form-title {
  font-size: 30px;
}

.new-habit {
  width: 50%;
  height: 70%;
  display: block;
  margin: 0 auto;
  background-color: white;
  margin-top: 50px;
}

.new-title {
  padding-top: 30px;
}

.new-habit-text {
  padding-top: 30px;
}

.habit_label {
  display: none;
}

.new-text {
  width: 70%;
  padding: 10px;
}

.new-habit-btn {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.new-habit-image {
  font-size: 12px;
  background-color: rgb(241, 76, 76);
  opacity: 0.7;
  color: white;
  padding: 12px;
  width: 80px;
}

.hidden_image {
  display: none;
}

.habit-submit {
  font-size: 14px;
  border: none;
  background-color: rgb(241, 76, 76);
  color: white;
  width: 80px;
}

.preview img {
  margin-top: 10px;
  height: 180px;
  width: 180px;
}

.new-footer {
  text-align: center;
}

.new-footer-roles {
  display: flex;
  justify-content: center;
  list-style: none;
}

.new-policy {
  margin-right: 50px;
}

.new-role {
  margin-left: 50px;
}

.new-footer-roles a {
  color: black;
  text-decoration: none;
}