.show-header {
  width: 100vw;
  height: 100px;
  background-color: lightgray;
}

.show-header-user {
  float: right;
  margin-top: 60px;
  margin-right: 100px;
}

.show_user_delete {
  text-decoration: none;
  color: black;
}

.show_new_habit {
  margin-left: 20px;
  padding: 12px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
}

.show_user_session {
  text-decoration: none;
  color: black;
}

.show_user_new {
  text-decoration: none;
  color: black;
}

.show-habits {
  height: calc(100vh - 100px - 350px);
  padding-top: 50px;
  text-align: center;
}

.show-text {
 font-size: 25px;
 font-weight: bold; 
}

.show_user_page {
  color: black;
}

.show-footer {
  height: 350px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments {
  width: 60%;
  height: 250px;
  background-color: white;
  overflow: scroll;
}

.comment-form {
  margin-top: 10px;
}

.comment-title {
  margin-left: 20px;
}

.comment-field {
  margin-left: 20px;
  height: 30px;
  width: 70%;
}

.comment-btn {
  background-color: rgb(241, 76, 76);
  color: white;
  border: 1px solid lightgray;
  border-radius: 10%;
  padding: 5px;
  margin-left: 10px;
}

.comment {
  margin: 10px 0 0 20px;
}
