.wrapper {
  display: flex;
}

.header {
  width: 100vw;
  height: 100px;
  background-color: #ffffff;
}

.header-logo {
  margin-left: 100px;
}

.header-lists {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

.header-user {
  color: black;
  margin-right: 25px;
  font-size: 20px;
}

.header_user_name {
  color: black;
  text-decoration: none;
  font-size: 23px;
  margin-bottom: 10px;
}

.header-list {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.header-image {
  position: absolute;
  top: 20px;
  margin-left: 20px;
}

.main-upper {
  display: flex;
  opacity: 0.7;
  width: 100vw;
}

.main-image-left {
  height: 390px;
  width: 32%;
  background-image: url("https://smartlog-stat2.imgix.net/uploads/content/piece/2017/8/0c9f422cced641c6354f035d5e0d34e5/shutterstock_150981035.jpg?w=689&h=459&auto=compress&q=40");
}

.main-image-center {
  height: 390px;
  width: 36%;
  background-image: url("https://d3jks39y9qw246.cloudfront.net/medium/51672/b2e2d3d27a1053516e6470f737f2d9faccdde66f.jpg");
}

.main-image-right {
  height: 390px;
  width: 32%;
  background-image: url("https://hips.hearstapps.com/jp.h-cdn.co/womenshealthjp/womenshealth-mig/images/media/images/_1_pc_article.jpg-small2020/457334-1-jpn-JP/_1_pc_article.jpg-small.jpg?resize=640:*");
}

.main-contents {
  text-align: center;
  margin-top: 50px;
}

.catch-copy {
  font-size: 50px;
}

.concept {
  margin-top: 20px;
  font-size: 20px;
}

.app-concept {
  margin-top: 20px;
  font-size: 20px;
}

.main {
  margin-top: 80px;
}

.explain {
  text-align: center;
}

.about {
  margin-bottom: 50px;
  display: inline-block;
  border-bottom: solid 2px black;
  font-size: 45px;
  color: red;
}

.about-image {
  display: flex;
  justify-content: space-around;
  opacity: 0.7;
}

.left-explain {
  height: 400px;
  width: 300px;
}

.center-explain {
  height: 400px;
  width: 300px;
}

.right-explain {
  height: 400px;
  width: 300px;
}

.about-lists {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  font-size: 20px;
  list-style: none;
}

.about-center {
  margin-left: 80px;
}

.promotion {
  margin-top: 100px;
  height: 240px;
  width: 100vw;
  background-color: #eeeeee;
}

.promotion-content {
  text-align: center;
}

.promotion-image {
  margin-top: 50px;
}

.promotion-text {
  margin-top: 20px;
  font-size: 30px;
}

.main-category {
  text-align: center;
  margin-top: 80px;
  width: 100vw;
}

.category {
  margin-bottom: 50px;
  display: inline-block;
  border-bottom: solid 2px black;
  font-size: 45px;
  color: red;
}

.category-lists {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.running {
  margin-left: 40px;
}

.category-image {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.running-image {
  height: 300px;
  width: 400px;
}

.weight-image {
  height: 300px;
  margin-right: 60px;
}

.books-image {
  height: 300px;
}

.category-lists-under {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.money {
  margin-right: 380px;
}

.mindfule {
  margin-left: 30px;
}

.category-image-under {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.money-image {
  height: 350px;
  margin-right: 260px;
}

.mindfule-image {
  height: 300px;
}

.footer {
  height: 300px;
  width: 100vw;
  background-color: gray;
}

.company {
  float: left;
  margin: 100px 0  0 30px;
  list-style: none;
}

.company a {
  display: block;
  text-decoration: none;
  color: white;
  margin-top: 10px;
}

.company-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.contact {
  float: right;
  margin: 100px 30px 0 0;
  list-style: none;
}

.contact a {
  display: block;
  text-decoration: none;
  color: white;
  margin-top: 10px;
}

.contact-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}