.wrapper {
  display: flex;
}

.header {
  width: 100vw;
  height: 100px;
  background-color: #ffffff;
}

.header-logo {
  margin-left: 100px;
}

.header-lists {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-top: 60px;
}

.header-user {
  color: black;
  margin-right: 25px;
  font-size: 15px;
}

.header_user_name {
  color: black;
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 15px;
}

.header-list {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.header-image {
  position: absolute;
  top: 20px;
  margin-left: 20px;
}

.main-upper {
  display: flex;
  opacity: 0.7;
}

.main-image {
  background-image: url("https://do-cca.com/wordpress/wp-content/uploads/2018/07/morning-routine-best10.jpg");
  width: 95vw;
  height: 500px;
  margin: 0 auto;
}

.main-catchcopy {
  margin-top: 250px;
  margin-left: 100px;
  font-size: 30px;
  color: black;
}

.main-contents {
  text-align: center;
  margin-top: 50px;
}

.catch-copy {
  font-size: 50px;
}

.concept {
  margin-top: 20px;
  font-size: 20px;
}

.app-concept {
  margin-top: 20px;
  font-size: 20px;
}

.main {
  margin-top: 80px;
}

.explain {
  text-align: center;
}

.about {
  margin-bottom: 50px;
  display: inline-block;
  border-bottom: solid 2px black;
  font-size: 45px;
  color: red;
}

.about-image {
  display: flex;
  justify-content: space-around;
  opacity: 0.7;
  width: 100vw;
}

.left-explain {
  height: 400px;
  width: 30vw;
}

.center-explain {
  height: 400px;
  width: 30vw;
}

.right-explain {
  height: 400px;
  width: 30vw;
}

.about-lists {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  font-size: 20px;
  list-style: none;
}

.about-center {
  margin-left: 80px;
}

.promotion {
  margin-top: 100px;
  height: 240px;
  width: 100vw;
  background-color: #eeeeee;
}

.promotion-content {
  text-align: center;
}

.promotion-image {
  margin-top: 50px;
}

.promotion-text {
  margin-top: 20px;
  font-size: 30px;
}

.category-titles {
  display: flex;
  justify-content: center;
}

.category-titles p {
  margin: 20px 80px 0;
  font-weight: bold;
}

.categories {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.category-titles-under {
  display: flex;
  justify-content: center;
}

.category-titles-under p {
  margin: 20px 96px 0;
  font-weight: bold;
}

.categories-under {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.door-image {
  margin: 0 40px 50px;
  width: 150px;
  height: 200px;
}

.footer {
  height: 300px;
  width: 100vw;
  background-color: gray;
}

.company {
  float: left;
  margin: 100px 0  0 30px;
  list-style: none;
}

.company a {
  display: block;
  text-decoration: none;
  color: white;
  margin-top: 10px;
}

.company-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.contact {
  float: right;
  margin: 100px 30px 0 0;
  list-style: none;
}

.contact a {
  display: block;
  text-decoration: none;
  color: white;
  margin-top: 10px;
}

.contact-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}