.sign-up-header {
  text-align: center;
  margin-top: 20px;
}

.form-group {
  text-align: center;
  padding: 50px 0;
}

.title {
  margin: 20px 0;
  font-size: 25px;
  font-weight: bold;
}

.sign_up_logo {
  height: 80px;
}

.errors {
  text-align: center;
  color: red;
}

.field {
  margin-top: 20px;
}

.indispensable {
  margin-left: 5px;
  padding: 5px 2px;
  background-color: rgba(255, 0, 64, 0.884);
  border-radius: 10%;
  color: white;
}

.password-text {
  margin-top: 10px;
}

.actions p {
  margin: 10px 0;
}

.actions-btn {
  padding: 10px 30px;
  margin-top: 10px;
  background-color: rgba(255, 0, 64, 0.884);
  border: 1px solid gray;
  color: white;
}

.form-roles {
  margin-bottom: 100px;
}

.role-lists {
  margin-top: 20px;
  list-style: none;
}

.role-lists li {
  margin: 10px 0;
}

.role-lists a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid black;
}

.links {
  margin-top: 50px;
}

.registrations {
  color: black;
}

.forgat_password {
  display: block;
  color: black;
  margin-top: 20px;
}

